--
-- PostgreSQL database dump
--

\restrict 91BUZdm4HXupUmfzCAXbJlC6h8SyWigi62vkcSBGuIKhrBvBIyvH83toeLbO4pn

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: notifications; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA notifications;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: email_subscribers; Type: TABLE; Schema: notifications; Owner: -
--

CREATE TABLE notifications.email_subscribers (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    email character varying(255) NOT NULL,
    is_subscribed boolean NOT NULL,
    username character varying(255) NOT NULL
);


--
-- Name: revchanges; Type: TABLE; Schema: notifications; Owner: -
--

CREATE TABLE notifications.revchanges (
    rev bigint NOT NULL,
    entityname character varying(255)
);


--
-- Name: revinfo; Type: TABLE; Schema: notifications; Owner: -
--

CREATE TABLE notifications.revinfo (
    rev bigint NOT NULL,
    revtstmp bigint
);


--
-- Name: revinfo_seq; Type: SEQUENCE; Schema: notifications; Owner: -
--

CREATE SEQUENCE notifications.revinfo_seq
    START WITH 1
    INCREMENT BY 50
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: email_subscribers pk_email_subscribers; Type: CONSTRAINT; Schema: notifications; Owner: -
--

ALTER TABLE ONLY notifications.email_subscribers
    ADD CONSTRAINT pk_email_subscribers PRIMARY KEY (id);


--
-- Name: revinfo pk_revinfo; Type: CONSTRAINT; Schema: notifications; Owner: -
--

ALTER TABLE ONLY notifications.revinfo
    ADD CONSTRAINT pk_revinfo PRIMARY KEY (rev);


--
-- Name: email_subscribers uc_email_subscribers_email; Type: CONSTRAINT; Schema: notifications; Owner: -
--

ALTER TABLE ONLY notifications.email_subscribers
    ADD CONSTRAINT uc_email_subscribers_email UNIQUE (email);


--
-- Name: email_subscribers uc_email_subscribers_user; Type: CONSTRAINT; Schema: notifications; Owner: -
--

ALTER TABLE ONLY notifications.email_subscribers
    ADD CONSTRAINT uc_email_subscribers_user UNIQUE (user_id);


--
-- Name: email_subscribers uc_email_subscribers_username; Type: CONSTRAINT; Schema: notifications; Owner: -
--

ALTER TABLE ONLY notifications.email_subscribers
    ADD CONSTRAINT uc_email_subscribers_username UNIQUE (username);


--
-- Name: revchanges fk_revchanges_on_default_tracking_modified_entities_changelog; Type: FK CONSTRAINT; Schema: notifications; Owner: -
--

ALTER TABLE ONLY notifications.revchanges
    ADD CONSTRAINT fk_revchanges_on_default_tracking_modified_entities_changelog FOREIGN KEY (rev) REFERENCES notifications.revinfo(rev);


--
-- PostgreSQL database dump complete
--

\unrestrict 91BUZdm4HXupUmfzCAXbJlC6h8SyWigi62vkcSBGuIKhrBvBIyvH83toeLbO4pn

