В дальнейшем при упоминании пользователей будут иметься ввиду пользователи подписанные на эмейл уведомления.

LOT-FR-1: Каждое изменение состояния лота или создание новых ставок сопровождается уведомлением всех пользователей сделавших ставки, а также владельца лота о его изменении.
В каждом письме касающимся лотов должна быть вставлена следующая информация:
    • Ссылка на лот
    • Заголовок лота

LOT-FR-2: В случае закрытия лота владелец информируется отдельным письмом в котором будет следующая информация:
    • Никнейм победителя
    • Значение за которое был продан лот

Победителю будет выслано письмо о победе, в письме будет информация:
    • Значение за которое был продан лот

Остальным же пользователям делавшим ставки на лот просто придет письмо о закрытии последнего.


LOT-FR-3
В случае новой ставки пользователям сделавших ставки кроме пользователя сделавшего новую ставку, а также владельцу лота присылается письмо в котором есть информация о ставке:
    • Никнейм пользователя новой ставки
    • Значение ставки

LOT-FR-4
Если была обьявленна ничья в торгах за лот, владельцу лота а также пользователям если они делали ставки придет письмо о том что никто не выиграл. 